section{
    padding: 0 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f4f4f4;
    margin-bottom: 1vh;
}

h6{
    width: 100%;
    font-size: .5rem;
    text-align: center;
}

.divLeft{
    width: 35%;
}

.divLeft span{
    font-size: .5rem;
}

.divRight{
    width: 50%;
    text-align: right;
    font-size: .7rem;
}

.divRight h5{
    margin-bottom: 1vh;
}

.divRight input {
    width: 60%;
    margin-bottom: .2vh;
    font-size: .8rem;
    border: none;
    padding: 0 .5rem 0 .5rem;
}

.divRight button {
    width: 60%;
    padding: 0 3px 0 3px;
    border: none;
    font-size: .8rem;
    background-color: #B59788;
    color: #fff;
    border-radius: 3px;
}