div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    background-color: #f4f4f4;
}

span{
    text-align: center;
    font-size: .6rem;
    margin-bottom: .5vh;
}

h5{
    color: #B59788;
}