.masterMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
}

h2 {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1vh 0 1vh;
    color: #B59788;
}

.percentArea {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1vh 0 2vh 0;
}

.percentCard{
    width: 30%;
}

button {
    margin-bottom: 1vh;
    padding: 3px;
    border: none;
    font-size: .8rem;
    background-color: #B59788;
    color: #fff;
    border-radius: 3px;
    width: 25%;
}