<section class="masterMain">
    <h2>Crie uma mudança saudável através do corpo, mente e espírito</h2>
    <section class="percentArea">
        <app-percent-card class="percentCard" [percent]="'20%'" [distac]="'Menos estresse'" [title]="'em alunos que praticam regularmente as aulas'" />
        <app-percent-card class="percentCard" [percent]="'20%'" [distac]="'Menos estresse'" [title]="'em alunos que praticam regularmente as aulas'" />
        <app-percent-card class="percentCard" [percent]="'20%'" [distac]="'Menos estresse'" [title]="'em alunos que praticam regularmente as aulas'" />
    </section>
    <button>Agendar avaliação</button>
    <h2>Conheça nossos planos</h2>
    <h5>Planos que cabem no seu bolso</h5>
    <section class="percentArea">
        <app-payment-card class="percentCard" [plan]="'Plano básico'" [price]="'R$ 150,00'" [offer]="'3 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano avançado'" [price]="'R$ 250,00'" [offer]="'5 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano turbinado'" [price]="'R$ 300,00'" [offer]="'7 aulas por semana'"/>
    </section>
    <h2>O que dizem nossos alunos</h2>
    <h5>O pilates inclui todos, temos alunos de todos os gêneros e idades #VemParaOPilates</h5>
    <section class="percentArea">
        <app-article class="percentCard" [article]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam magnam!'" [author]="'Juliana'"/>
        <app-article class="percentCard" [article]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam magnam!'" [author]="'Marcos'"/>
        <app-article class="percentCard" [article]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam magnam!'" [author]="'Fernanda'"/>
    </section>
</section>