<section class="masterMain">
    <h2>Crie uma mudança saudável através do corpo, mente e espírito</h2>
    <section class="percentArea">
        <app-percent-card class="percentCard" [percent]="'15%'" [distac]="'Menos estresse'" [title]="'em nosos planos semestrais'" />
        <app-percent-card class="percentCard" [percent]="'20%'" [distac]="'Menos estresse'" [title]="'em nossos planos anuais'" />    </section>
    <button>Agendar avaliação</button>
    <h2>Conheça nossos planos</h2>
    <h5>Planos que cabem no seu bolso</h5>
    <section class="percentArea">
        <app-payment-card class="percentCard" [plan]="'Plano básico'" [price]="'R$ 150,00'" [offer]="'2 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano semestral'" [price]="'R$ 765,00'" [offer]="'2 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano anual'" [price]="'R$ 1.140,00'" [offer]="'2 aulas por semana'"/>
    </section>
    <section class="percentArea">
        <app-payment-card class="percentCard" [plan]="'Plano básico'" [price]="'R$ 180,00'" [offer]="'3 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano semestral'" [price]="'R$ 918,00'" [offer]="'3 aulas por semana'"/>
        <app-payment-card class="percentCard" [plan]="'Plano anual'" [price]="'R$ 1728,00'" [offer]="'3 aulas por semana'"/>
    </section>
    <h2>O que dizem nossos alunos</h2>
    <h5>O pilates inclui todos, temos alunos de todos os gêneros e idades</h5>
    <section class="percentArea">
        <app-article class="percentCard" [article]="'Estou me sentindo muito melhor depois que entrei no pilates!'" [author]="'Lene'"/>
        <app-article class="percentCard" [article]="'Minhas dores nas costas melhoraram bastante, já consigo trabalhar sem dores'" [author]="'Cristiane'"/>
        <app-article class="percentCard" [article]="'Meu desempenho nas corridas melhoraram muito!'" [author]="'João'"/>
    </section>
</section>